.about {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        &--padding {
            padding-top: 0;
        }
    }
    &__headshotContainer,
    &__imageContainer {
        flex: 0 1 350px;
        position: relative;
    }
    &__headshot {
        position: relative;
        top: 25px;
        left: 30px;
    }
    &__frame {
        position: absolute;
        top: 0;
        left: 0;
    }    
    &__textContainer {
       flex: 0 1 450px;
       &--right {
           text-align: right;
       } 
    }
    &__heading {
        @include heading(40);
        line-height: 4.2rem;
        &--small {
            font-size: 2.8rem;
            line-height: 3rem;
        }
    }
    &__key {
        position: relative;
        top: 25px;
        right: 30px;
    }
}