.about {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-bottom: 50px;
    }
    &__headshotContainer {
        flex: 1 0 250px;
        margin-right: 100px;
        position: relative;
    }
    &__headshot {
        position: relative;
        top: 25px;
        left: 30px;
    }
    &__frame {
        position: absolute;
        top: 0;
        left: 0;
    }    
    &__textContainer {
       flex: 1 0 300px;
    }
    &__text {
        line-height: 3rem;
        margin-bottom: 20px;
    }
    &__span {
        font-style: italic;
    }
    &__heading {
        @include heading(48);
        line-height: 5rem;
    }
}