.button {
    @include button(200px);
    &--wide {
        width: 100%;
        background: transparent;
        margin: 0;
    }
    &--small {
        width: 120px;
        margin: 0 10px 0 0;
    }
    &--margin {
        margin: 0 0 0 10px;
    }
}