.contact {    
    &__heading {
        @include heading(40);
        line-height: 4.2rem;
        margin-bottom: 50px; 
        &--small {
            text-align: right;
            font-size: 2.8rem;
            line-height: 3rem;
        }
    }
    &__socialmediaContainer,
    &__formContainer {
        width: 100%; 
        padding: 3px;              
    }
    &__socialmediaContainer {
        margin-bottom: 50px;
        background: linear-gradient(135deg, #ffa10a, #ff206e)
    }
    &__formContainer {
        background: linear-gradient(-135deg, #ffa10a, #ff206e)
    }
    &__background {
        background: $background;
        width: 100%;
        padding: 50px;
    }
}