.header {
    width: 100%;
    height: 100vh;
    background: $backgroundSecondary;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    &__icon {
        color: $colorAccent;
        position: absolute;
        font-size: 3rem;
        right: 5%;
        bottom: 10%;
        animation-duration: 1500ms;
        animation-iteration-count: infinite;
    }
    &__wrapper {
        height: 40vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0;
        margin-bottom: 100px;
    }
    &__headingContainer {
        text-align: right;
    }
    &__heading {
        @include heading(100);
        line-height: 10.2rem;
        margin: 0;
    }
    &__title,
    &__subtitle {
        @include heading(30);
        line-height: 3.2rem;
        margin: 0;
        color: $text;
    }
    &__subtitle {
        color: $colorAccent;
    }
    &__imageContainer {
        width: 15%;
    }
}