/* Landscape tablet and laptops*/
@media (max-width: 1280px) { 
    //no changes
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    .wrapper {
        width: 90%;
        padding: 100px 0;
    }
    .nav {
        &__wrapper {
            padding: 0;
        }
    }
    .work {
        &__wrapper {
            padding-top: 25px;
        }
    }
    .skills {
        &__container {
            justify-content: center;     
        }
    }
    .footer {
        &__wrapper {
            padding: 15px 0;
        }
    }    
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    html {
        font-size: 55%;       
    }
    .wrapper {
        width: 100%;
        padding: 75px 30px;
    }
    .nav {
        &__wrapper {
            padding: 0 30px;
        }
        &__menu {
            justify-content: center;
        }
        &__items {
            &--display {
                display: block;
            }
        }
        &__keyContainer {
            display: none;
        }
    }
    .header {
        &__wrapper {
            height: 60vh;
        }
        &__imageContainer {
            width: 20%;
        }
    }
    .about {
        &__wrapper {
            justify-content: center;
            padding-bottom: 0;
        }
        &__headshotContainer {
            margin: 0 0 50px 0;
            flex: 0 0 300px; 
        }
        &__headshot {
            position: relative;
            top: 20px;
            left: 25px;
        }
        &__textContainer {
            flex-basis: 400px;
        }
    }
    .button {
        width: 100%;
        &--small {
            margin: 0 0 10px 0;
        }
    }
    .work {
        &__project {
            justify-content: center;
            background: none;
            box-shadow: none;
            border-radius: 0;
            width: 100%;
            margin-bottom: 50px;
            &--margin {
                margin: 0;
            }
        }
        &__imageContainer {
            padding: 20px;
            width: 75%;
        }
        &__textContainer {
            width: 100%;
            padding: 20px;
            &--textAlign {
                text-align: left;
            }
        }
    }
    .skills {
        &__icon {
            width: 20%;
        }         
    }
    .contact {
        &__heading {
            margin-bottom: 25px; 
        }
        &__container {
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
        }
        &__socialmedia {
            width: 100%;
            margin-bottom: 25px;
        }
    }
    .socialmedia {
        &__link {
            font-size: 2.8rem;
            padding: 15px 10px;
            &:hover {
                padding: 20px 10px 10px 10px;
                transform: scale(1.4);
            }
        }
    }
    .footer {
        &__wrapper {
            padding: 15px 0;
        }
    }
}

/* Landscape phones */
@media (max-width: 480px) {
    .nav {
        &__wrapper {
            height: 15vh;
            width: 100%;
            padding: 0;
            justify-content: center;
        }
        &__menu {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__items {
            width: 18%;            
        }
        &__links {
            padding: 0;
            text-align: center;
            margin: 3px;
            transition: color 300ms ease-in;
            &:hover {
                color: $color; 
                &:after {
                content: "";
                position: absolute;
                bottom: -20px;
                right: 50%;
                }                
            }
        }
    }
    .header {
        &__wrapper {
            margin-bottom: 30px;
            padding: 30px 0;
        }
        &__heading {
            font-size: 6rem;
            line-height: 6.2rem;
        }
        &__title,
        &__subtitle {
            font-size: 2.6rem;
            line-height: 2.8rem;
        }
        &__imageContainer {
            width: 14%;
            margin: 0 30px 0 15px;
        }
    }
    .about {
        &__headshotContainer {
            flex-basis: 200px;
        }
        &__textContainer {
            flex-basis: 220px;
        }
    }
    .work {
        &__heading {
            margin-bottom: 20px;
        }
        &__textContainer {
            padding: 20px 0 0 0;
        }
        &__text {
            &--small {
                width: 100%;
            }
        }
        &__imageContainer {
            padding: 0;
            width: 90%;
        } 
    }
    .skills {
        &__icon {
            width: 22%;
        }
        &__text {
            display: none;
        }  
    }
    .contact {
        &__wrapper {
            padding: 70px 10px;
        }
        &__background {
            padding: 25px;
        }
    }
}

/* portrait phones to landscape phones  */
@media (max-width: 320px) {
    //no changes
}