.nav {
    width: 100%;    
    background: $backgroundSecondary;
    position: fixed;
    z-index: 99;
    &__wrapper {
        padding: 0;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }    
    &__menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-transform: lowercase;
        padding: 0;
        flex: 1 0 300px;
    }
    &__items {
        &--display {
            display: none;
        }
    }
    &__keyContainer {
        position: relative;
        flex: 0 0 250px;
        padding: 10px 0 10px 10px;
    }
    &__key {
        width: 20%;
        margin: 0 auto;
        display: block;
    }
    &__links {
        position: relative;
        &--color {
            color: $colorAccent;
        }
        &:first-child {
            padding-left: 0;
            font-weight: 700;
        }
        &:hover {
            &:after {
                content: "|";
                position: absolute;
                bottom: -20px;
                right: 50%;
            }
        }
        &--key {
            text-align: right;
            text-transform: lowercase;
            padding: 9px 0;
            font-weight: 700;
            color: $colorAccent;
            transition: color 700ms ease-in-out, background 700ms ease-in-out;
            background: $backgroundSecondary;
            position: absolute;
            top: 0;            
            right: 0;
            bottom: 0;
            left: 0;
            &:hover {
                color: transparent;
                background: transparent;
            }
        }
    }
}    