.nav {
    width: 100%;    
    background: $backgroundSecondary;
    position: fixed;
    z-index: 99;
    &__wrapper {
        padding: 0;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }    
    &__menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-transform: lowercase;
        padding: 0;
        flex: 1 0 300px;
    }
    &__items {
        margin-right: 5px;
        &--display {
            display: none;
        }
    }
    &__keyContainer {
        position: relative;
        flex: 0 0 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__keyText {
        text-transform: lowercase;
        font-weight: 700;
        color: $colorAccent;
        background: $backgroundSecondary;
        position: absolute;
        top: 0;
        right: 0;    
        padding-right: 0;        
        transition: color 700ms ease-in-out, background 700ms ease-in-out;
        &:hover {
            color: transparent;
            background: transparent;
        }
    }
    &__keyImage {
        width: 30%;
        display: block;
    }
    &__links {
        position: relative;
        font-weight: 700;
        &--color {
            color: $colorAccent;
        }
        &:first-child {
            padding-left: 0;
        }
        &:hover {
            &:after {
                content: "|";
                position: absolute;
                bottom: -20px;
                right: 50%;
            }
        }
    }
}    