.skills { 
    background: $color;  
    &__heading {
        @include heading(48);
        line-height: 5rem;
        color: $background;
        margin-bottom: 30px;
    }   
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;      
    }
    &__icon {
        width: 10%;
        margin: 15px;    
    }
    &__text {
        color: $background;
        font-size: 1.4rem;
        text-align: center;
        font-weight: 700;
    }
}