.socialmedia {
    &__link {
       font-size: 3rem;
        padding: 15px;
        color: $colorAccent;
        transition: padding 200ms ease-in, transform 300ms ease-in; 
        &:hover {
            padding: 20px 15px 10px 15px;
            transform: scale(1.4);
        }
    }
}