$text: #050401;
$background: #fefefe;
$backgroundSecondary: #dbd6d3;
$color: #ffa10a;
$colorAccent: #ff206e;

$fontSize: 20;
$fontFamily: 'Raleway', sans-serif;

@mixin heading($fontSizeHeading) { 
    font-size: ($fontSizeHeading / 10) * 1rem;    
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: lowercase;
    margin: 0 0 20px 0;
    padding: 0;
    color: $color;
}

@mixin button($width) {
    display: block;
    width: $width;
    padding: 12px;
    margin: 20px auto 0 0;
    text-align: center;
    text-transform: lowercase;
    font-weight: 700;
    color: $color;        
    border: 3px solid $color;
    transition: background 400ms, color 400ms;
    &:hover {
        background: $color;
        color: $background;
    }
}