$text: #050401;
$background: #fefefe;
$backgroundSecondary: #eeeeed;
$color: #ff840a;
$colorSecondary: #f6ced1;
$colorAccent: #ff206e;

$fontSize: 20;
$fontFamily: 'Raleway', sans-serif;

@mixin heading($fontSizeHeading) { 
    font-size: ($fontSizeHeading / 10) * 1rem;    
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
}

// @mixin button($width) {
//     font-weight: 700;
//     letter-spacing: 1px;
//     text-align: center;
//     text-transform: uppercase;
//     line-height: 32px;
//     width: $width;
//     background: $colorAccent;
//     padding: 10px;
//     transition: color 500ms ease-in, background 500ms ease-in;
// }