.work {
    &__wrapper {
        padding-top: 100px;
    }
    &__heading {
        @include heading(48);
        line-height: 5rem;
        margin-bottom: 50px;
        &--small {
            font-size: 2.8rem;
            line-height: 3rem;
            margin-bottom: 20px;
            text-transform: none;
        }
    }
    &__project {
        background: $background;
        box-shadow: 
        0 0 30px $backgroundSecondary, 
        0 0 10px $text;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-bottom: 100px;
        padding: 10px;
        &--flexReverse {
            flex-direction: row-reverse;
        }
        &--margin {
            margin: 0;
        }
    }
    &__textContainer {
        flex: 1 0 200px;
        padding: 20px;
        &--textAlign {
            text-align: right;
        }
    }
    &__text {
        margin-bottom: 20px;
        &--small {
            width: 80%;
            text-align: center;
            font-weight: 700;
            font-size: 1.8rem;
            margin: 20px 0 0 0;
        }
        &--bold {
           font-weight: 700; 
        }
    }
    &__buttonContainer {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        &--flexEnd {
            justify-content: flex-end;
        }
    }
    &__imageContainer {
        padding: 20px;
        flex: 1 0 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}