article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: #fefefe;
  color: #050401;
  padding: 10px;
  border: 2px solid #050401; }

.skipLink:focus {
  left: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  color: #050401;
  font-weight: 400;
  background: #fefefe; }

p {
  line-height: 32px;
  margin: 0;
  padding: 0; }

a {
  color: #050401;
  text-decoration: none;
  padding: 0 10px;
  display: block; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  display: block;
  margin: 0;
  padding: 0; }

.wrapper {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  padding: 150px 0;
  position: relative; }

.button {
  display: block;
  width: 200px;
  padding: 12px;
  margin: 20px auto 0 0;
  text-align: center;
  text-transform: lowercase;
  font-weight: 700;
  color: #ffa10a;
  border: 3px solid #ffa10a;
  -webkit-transition: background 400ms, color 400ms;
  -o-transition: background 400ms, color 400ms;
  transition: background 400ms, color 400ms; }
  .button:hover {
    background: #ffa10a;
    color: #fefefe; }
  .button--wide {
    width: 100%;
    background: transparent;
    margin: 0; }
  .button--small {
    width: 120px;
    margin: 0 10px 0 0; }
  .button--margin {
    margin: 0 0 0 10px; }

.socialmedia__link {
  font-size: 3rem;
  padding: 15px;
  color: #ff206e;
  -webkit-transition: padding 200ms ease-in, -webkit-transform 300ms ease-in;
  transition: padding 200ms ease-in, -webkit-transform 300ms ease-in;
  -o-transition: padding 200ms ease-in, transform 300ms ease-in;
  transition: padding 200ms ease-in, transform 300ms ease-in;
  transition: padding 200ms ease-in, transform 300ms ease-in, -webkit-transform 300ms ease-in; }
  .socialmedia__link:hover {
    padding: 20px 15px 10px 15px;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4); }

.form__name, .form__email, .form__text {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  height: 40px;
  border: 3px solid #ffa10a;
  color: #050401;
  font-family: "Raleway", sans-serif;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px; }

.form__text {
  height: 200px; }

.nav {
  width: 100%;
  background: #dbd6d3;
  position: fixed;
  z-index: 99; }
  .nav__wrapper {
    padding: 0;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: lowercase;
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 300px;
    flex: 1 0 300px; }
  .nav__items--display {
    display: none; }
  .nav__keyContainer {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
    padding: 10px 0 10px 10px; }
  .nav__key {
    width: 20%;
    margin: 0 auto;
    display: block; }
  .nav__links {
    position: relative; }
    .nav__links--color {
      color: #ff206e; }
    .nav__links:first-child {
      padding-left: 0;
      font-weight: 700; }
    .nav__links:hover:after {
      content: "|";
      position: absolute;
      bottom: -20px;
      right: 50%; }
    .nav__links--key {
      text-align: right;
      text-transform: lowercase;
      padding: 9px 0;
      font-weight: 700;
      color: #ff206e;
      -webkit-transition: color 700ms ease-in-out, background 700ms ease-in-out;
      -o-transition: color 700ms ease-in-out, background 700ms ease-in-out;
      transition: color 700ms ease-in-out, background 700ms ease-in-out;
      background: #dbd6d3;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
      .nav__links--key:hover {
        color: transparent;
        background: transparent; }

.header {
  width: 100%;
  height: 100vh;
  background: #dbd6d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative; }
  .header__icon {
    color: #ff206e;
    position: absolute;
    font-size: 3rem;
    right: 5%;
    bottom: 10%;
    -webkit-animation-duration: 1500ms;
    animation-duration: 1500ms;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
  .header__wrapper {
    height: 40vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 0;
    margin-bottom: 100px; }
  .header__headingContainer {
    text-align: right; }
  .header__heading {
    font-size: 10rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: lowercase;
    margin: 0 0 20px 0;
    padding: 0;
    color: #ffa10a;
    line-height: 10.2rem;
    margin: 0; }
  .header__title, .header__subtitle {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: lowercase;
    margin: 0 0 20px 0;
    padding: 0;
    color: #ffa10a;
    line-height: 3.2rem;
    margin: 0;
    color: #050401; }
  .header__subtitle {
    color: #ff206e; }
  .header__imageContainer {
    width: 15%; }

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 50px; }

.about__headshotContainer {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 250px;
  flex: 1 0 250px;
  margin-right: 100px;
  position: relative; }

.about__headshot {
  position: relative;
  top: 25px;
  left: 30px; }

.about__frame {
  position: absolute;
  top: 0;
  left: 0; }

.about__textContainer {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 300px;
  flex: 1 0 300px; }

.about__text {
  line-height: 3rem;
  margin-bottom: 20px; }

.about__span {
  font-style: italic; }

.about__heading {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: lowercase;
  margin: 0 0 20px 0;
  padding: 0;
  color: #ffa10a;
  line-height: 5rem; }

.work__wrapper {
  padding-top: 100px; }

.work__heading {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: lowercase;
  margin: 0 0 20px 0;
  padding: 0;
  color: #ffa10a;
  line-height: 5rem;
  margin-bottom: 50px; }
  .work__heading--small {
    font-size: 2.8rem;
    line-height: 3rem;
    margin-bottom: 20px;
    text-transform: none; }

.work__project {
  background: #fefefe;
  -webkit-box-shadow: 0 0 30px #dbd6d3, 0 0 10px #050401;
  box-shadow: 0 0 30px #dbd6d3, 0 0 10px #050401;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-bottom: 100px;
  padding: 10px; }
  .work__project--flexReverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .work__project--margin {
    margin: 0; }

.work__textContainer {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 200px;
  flex: 1 0 200px;
  padding: 20px; }
  .work__textContainer--textAlign {
    text-align: right; }

.work__text {
  margin-bottom: 20px; }
  .work__text--small {
    width: 80%;
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    margin: 20px 0 0 0; }
  .work__text--bold {
    font-weight: 700; }

.work__buttonContainer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .work__buttonContainer--flexEnd {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

.work__imageContainer {
  padding: 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 250px;
  flex: 1 0 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.skills {
  background: #ffa10a; }
  .skills__heading {
    font-size: 4.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: lowercase;
    margin: 0 0 20px 0;
    padding: 0;
    color: #ffa10a;
    line-height: 5rem;
    color: #fefefe;
    margin-bottom: 30px; }
  .skills__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .skills__icon {
    width: 10%;
    margin: 0 30px 30px 0; }
    .skills__icon:nth-child(7n+0) {
      margin-right: 0; }
  .skills__text {
    color: #fefefe;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700; }

.contact__heading {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: lowercase;
  margin: 0 0 20px 0;
  padding: 0;
  color: #ffa10a;
  line-height: 5rem;
  margin-bottom: 50px; }
  .contact__heading--small {
    font-size: 2.8rem;
    line-height: 3rem; }

.contact__border {
  background: -webkit-linear-gradient(225deg, #ffa10a, #ff206e);
  background: -o-linear-gradient(225deg, #ffa10a, #ff206e);
  background: linear-gradient(-135deg, #ffa10a, #ff206e);
  padding: 3px; }

.contact__background {
  background: #fefefe;
  padding: 50px; }

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contact__form {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 300px;
  flex: 1 0 300px; }

.contact__socialmedia {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer {
  background: #dbd6d3; }
  .footer__wrapper {
    padding: 15px 0; }
  .footer__text {
    font-size: 1.6rem;
    text-align: center;
    padding: 0 10px; }
    .footer__text--bigger {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 10px; }
  .footer__span {
    color: #ff206e; }
  .footer__credits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer__link {
    display: inline;
    margin: 0;
    padding: 0; }
    .footer__link:hover {
      color: #ff206e; }

/* Landscape tablet and laptops*/
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .wrapper {
    width: 90%;
    padding: 100px 0; }
  .nav__wrapper {
    padding: 0; }
  .work__wrapper {
    padding-top: 25px; }
  .footer__wrapper {
    padding: 15px 0; } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  html {
    font-size: 55%; }
  .wrapper {
    width: 100%;
    padding: 75px 30px; }
  .nav__wrapper {
    padding: 0 30px; }
  .nav__menu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .nav__items--display {
    display: block; }
  .nav__keyContainer {
    display: none; }
  .header__wrapper {
    height: 60vh; }
  .header__imageContainer {
    width: 20%; }
  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 0; }
  .about__headshotContainer {
    margin: 0 0 50px 0;
    width: 50%; }
  .about__headshot {
    position: relative;
    top: 20px;
    left: 25px; }
  .button {
    width: 100%; }
    .button--small {
      margin: 0 0 10px 0; }
  .work__project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    width: 100%; }
  .work__imageContainer {
    padding: 20px;
    width: 75%; }
  .work__textContainer {
    width: 100%; }
    .work__textContainer--textAlign {
      text-align: left; }
  .skills__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .skills__icon {
    width: 20%;
    margin: 0 20px 30px 0; }
    .skills__icon:nth-child(4n+0) {
      margin-right: 0; }
    .skills__icon:nth-child(7n+0) {
      margin: 0 20px 30px 0; }
  .contact__heading {
    margin-bottom: 25px; }
  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .contact__socialmedia {
    width: 100%;
    margin-bottom: 25px; }
  .socialmedia__link {
    font-size: 2.8rem;
    padding: 15px 10px; }
    .socialmedia__link:hover {
      padding: 20px 10px 10px 10px;
      -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
      transform: scale(1.4); }
  .footer__wrapper {
    padding: 15px 0; } }

/* Landscape phones */
/* portrait phones to landscape phones  */
